{% extends "base.html" %}
  <body>
    
    {% block content %}
    <br>
    <h1 class = "Intro_text"> Hi and welcome to Kath's Chatbot! </h1>
    <br>
    <br>
    <h2 class = "Intro_description">Here you will find a chatbot in which you may ask them questions.</h2>
    <br>
    <br>
    <h2 class = "warning">Feel free to ask what you wish but be warned, 
      <br>
      if you ask a stupid question you will get a stupid response.</h2>
    <br>
    <br>
    <h2 class = "dare">Click chatbot if you dare...</h2>

    
    {% endblock %} 
  </body>
</html>